.productChildContainer {
    border: 1px solid #eef0f8;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}

.productChildContainer:hover {
    border: 1px solid #c5c5c5;
    transition: all 0.4s;
}

body.dark .productChildContainer {
    border: 1px solid #1b2e4b;
}

body.dark .productChildContainer:hover {
    border: 1px solid #009688;
}

.productChildText {
    color: #3b3f5c;
    font-size: 16px;
}

body.dark .productChildText {
    color: #fff !important;
}

.statusProductDisActive {
    background-color: #F64E60;
}

.statusProductActive {
    background-color: #1BC5BD;
}

.statusProduct {
    color: #ffffff;
    padding: 2px 12px;
    border-radius: 0.42rem;
    margin-bottom: 0;
    align-self: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}

.statusTreeView:hover {
    color: #ffffff;
}

.dropzone-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0.75rem;
    border-radius: 0.42rem;
    padding: 0.5rem 1rem;
    background-color: #F3F6F9;
}

/* .dz-upload {
    display: block;
    background-color: red;
    height: 10px;
    width: 0%;
} */

.dropzone-items .dropzone-progress {
    width: 15%;
}

.dropzone-items .dropzone-progress .progress {
    height: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    line-height: 0;
    font-size: 0.75rem;
    background-color: #EBEDF3;
    border-radius: 0.42rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: auto;
}

.bg-primary {
    background-color: #3699FF !important;
}

.dz-success.dz-complete .dropzone-progress .dz-progress .progress {
    background-color: #3699FF !important;
}

.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    background-color: #3699FF;
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

/* .tableProductImage{
    height: 75px;
    width: 112.5px;
} */

.tableProductImage img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#delete-button{
    cursor: pointer;
}

